.card-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    border: 1px solid rgba(182, 182, 182, 0.747);
    border-radius: 6px;
}

.header {
    display: flex;
    align-items: center;
    padding:20px;
    border-bottom: 1px solid rgb(201, 198, 198);
}

.user-profile {
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.user-pic{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.meeting-description {
    display: flex;
    flex-direction: column;
}

.header p {
    font-size: 16px;
    margin: 0;
}

.time {
    display: flex;
    align-items: center;
}
.header span{
    font-size: 12px;
}
.header i{
    font-size: 12px;
}



.time span {
    margin-left: 10px;
}

.info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info div {
    margin-bottom: 10px;
}

.img-container {
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.members,
.pending {
    background-color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    display: flex;
    align-items: center;
}

.button a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ccc; /* Light gray background */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
    border: none; /* Remove border */
}

.button a:hover {
    background-color: orange; /* Change to orange on hover */
    color: white; /* Change text color to white on hover */
}

.button .plus {
    margin-left: 10px;
    font-weight: bold;
    color: #999;
}

