.schedule-container{
    margin: 3rem 0rem;
    gap: 1rem;
    justify-content: space-between;
}
.meeting-wrapper{
    display: flex;
    background-color: aliceblue;
    justify-content: space-between;
}
.calendar-wrapper{
    margin: 0 3rem;
}

.reschedule-icon{
    font-size: 2rem;;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #efcc07;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cancelled-schedule-icon{
    font-size: 2rem;;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ef2607; 
    display: flex; 
    justify-content: center;
    align-items: center;
}
.people-icon{
    font-size: 2rem;;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #0bef07; 
    display: flex; 
    justify-content: center;
    align-items: center;

}
.today-meeting-title{
    margin-bottom: 1rem;
}

.seach-bar-button{
    height: 2.35rem;
}
.wrapper {
    position: relative;
    display: flex;
    min-width: 100px;
  }

  .search-icon {
    position: absolute;
    top: 6px;
    left: 8px;
    width: 14px;
  }

  .clear-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 10px;
    cursor: pointer;
  }
  .font-outline{
    border: 1px solid black;
  }

  .schedule-meeting-data{
      display: flex;
  }
  .sechdule-meetung-box{
    display: flex;
  }

  .meeting-cards-wrapper {
      margin-top: 1rem;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap:25px;
    grid-column-gap: 20px;
}
/* .meeting-card-2{
    border-left: 1px solid lightgray;
    padding-left: 20px;
}
.meeting-card-3{
    border-left: 1px solid lightgray;
    padding-left: 20px;
} */

.MeetingCard {
    width: calc(50% - 20px); 
    max-width: 300px; 
    flex: 1 0 auto; 
}

.search-bar-wrapper{
    display: flex;
}

.search-box{
    height: 100%;
    width: 100%;
    border: none;
    background-color: #F5F5FF;
    padding-left: 20px;
    font-size: 12px;
}

.input-group .btn {
    border-radius: 0;
    background-color: #EAEBFF;
}
.bi-bell{
    font-size: 1.3rem;
}

.bi-search{
    color: #8582BB;
}

.form-control{
    border-radius: 0;
}
.create-meeting-btn{
    width: 360px;
    margin-left: 50px;
}
.bi-plus{
    margin-right: 0.5rem;
}


